
.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: dimgrey;
}

form {
    padding: 24px;
    margin: auto;
    width: 384px;
    background-color: #FFFFFF;
}

.input {
    height: 56px;
    margin: 16px 0;
    border-radius: 6px;
    border-width: 2px;
    font-size: 14px;
}

input[type='submit'] {
    width: 192px;
}

.input.big {
    height: 100px;
}

.form-tooltip {
    font-size: 12px;
}

